@font-face {
	font-family:'agency';
	src: url('../fonts/agency_regular.eot');
	src: url('../fonts/agency_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/agency_regular.woff') format('woff'), url('../fonts/agency_regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:'agency';
	src: url('../fonts/agency_bold.eot');
	src: url('../fonts/agency_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/agency_bold.woff') format('woff'), url('../fonts/agency_bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* mixins for sass and css reset */
@import "reset";
@import "sass";

/* 3rd party */
@import "idangerousswiper";

/* base styles */
@import "base";
@import "themes";

/* utilities */
@import "utilities";